body {
        
    background-color: black}
.header {
    padding: 60px;
    text-align: center;
    background: black;
    color: red;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .7em;
        }
.container{
    text-align: center;
}
.option {
    padding-top: 20px;
}
a {
text-decoration: none;
width: 70px;
}
a:hover {
background-color: #d8d8d8;
}

}
.instrukcja{
    text-align: justify;
    color: white;
    padding: 50px 200px;
}
.start_button{
    color: red;
    text-align: center;
}