<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Andrzej</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--<style>
        body {
            margin: 0px;
            padding: 0px;
            background-color: #f0f0f0;
        }
        .footer {
            position: fixed;
            width: 100%;
            margin-left: 384px;
            height: 2em;
            left: 0;
            bottom: 0;
            color: white;
            background-color: #4C714B;
            opacity: 0.9;
        }
        h3 {
            font-family: 'Montserrat', sans-serif;
            margin-top: .7em;
            font-size: 12px;
            font-weight: lighter;
            margin-left: 25px;
        }
        h6 {
            font-family: 'Montserrat', sans-serif;
            padding: 5em 3.3em 0.5em;
            white-space: nowrap;
            color: white;
            font-weight: lighter;
            font-size: 30px;
        }
        .image {
            opacity: 1;
            display: block;
            backface-visibility: hidden;
            margin:0 5.5em;
            border-radius: 50%;
            border: 3px solid #f0f0f0;
        }
        .sidebar {
            position: fixed;
            height: 100%;
            width: 200px;
            background-color:#4C714B;
            z-index: 1;
            overflow: hidden;
            margin-top: 0;
            opacity: 0.9;
        }
        .bar-block .bar-item {
            float: left;
            display: block;
            width: auto;
            outline: 0;
            border: none;
        }
        .container {
            position: relative;
            margin-left: 500px;
            margin-right: 100px;
            font-family: 'Montserrat', sans-serif;
        }
        h1 {
            font-size: 20px;
            padding-top: 10px;
            margin-top: 0;
        }
        h2 {
            font-size: 30px;   
            padding-top: 7em;
            padding-bottom: 5px;
            margin-top: 0;
        }
        ul {
            position: fixed;
            margin-left: 384px;
            margin-top: 0px;
            list-style-type: none;
            padding-left: 4em;
            overflow: hidden;
            background-color: #d8d8d8;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            width: 100%;
        }
    
        li {
            float: left;
        }
        
        li a {
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            width: 70px;
        }
        
        li a:hover {
            background-color: #bababa;
        }
    </style> -->   
    </head>
<body> 
    <div class="sidebar bar-block" style="width:25%">
        <ul>
            <li><a href='/'>home</a></li>
            <li><a href='/o_nas'>o nas</a></li>
            <li><a href="/gra">gra</a></li>
            <li><a href="/instrukcja">instrukcja</a></li>
        </ul>
        <h6 class="bar-item">Andrzej Puć</h6>
        <img src="{{url_for('static', filename='andrzej.jpg')}}" alt="Andrzej" class="image" style="width:50%">
    </div>
    <div class='container'>
        <h2>aka Ryszard</h2>
        <h1>J jak każdy inny Jj z małego miasta, posiłkujący się MTB, matematyką i ryżem z kurczakiem. Lubi pierogi. Nie uznaje narkotyków i alkoholu. Tylko adrenalina ze zmęczeniem umysłowym. 
            Uważa, że kurs TI dał mu większe poczucie spełnienia niż jakikolwiek inny na tej uczelni. Po sesji chciałby dużo spać, sporo pracować i odwiedzić Bieszczady.</h1>
        <h1 style="padding-top: 10px">nr indeksu: 249748</h1>
    </div>
    <div class='footer'>
        <h3>© Kasia Cugier & Bogna Jaszczak & Andrzej Puć 2019</h3>
    </div>
</body>
</html>