<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>gra</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet" type='text/css'>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> -->

    <!--<style>
        body {
            margin: 0px;
            padding: 0px;
            background-color: #f0f0f0;
        }
        .header {
            padding: 40px;
            text-align: center;
            background: #4C714B;
            color: white;
            font-size: 30px;
            font-family: 'Montserrat', sans-serif;
            letter-spacing: .7em;
        }
        .footer {
            position: fixed;
            width: 100%;
            height: 2em;
            left: 0;
            bottom: 0;
            color: white;
            background-color: #4C714B;
            opacity: 0.9;
        }
        h4 {
            font-family: 'Montserrat', sans-serif;
            margin-top: .7em;
            font-size: 12px;
            font-weight: lighter;
            margin-left: 60px;
        }        
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            max-height: 100%;
            overflow: hidden;
        }
        h2 {
            letter-spacing: 0.2em;
            font-family: 'Montserrat', sans-serif;
            padding: 2em;
            text-align: center;
        }
        ul {
            position: fixed;
            list-style-type: none;
            margin: 0;
            padding-left: 4em;
            overflow: hidden;
            background-color: #f0f0f0;
            font-family: 'Montserrat', sans-serif;
            font-size: 15px;
            width: 100%;
        }
        li {
            float: left;
        }
        li a {
            display: block;
            color: #4C714B;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            width: 70px;
        }
        li a:hover {
            background-color: #d8d8d8;
        }
        .container2 {
            position: relative;
            width: 100%;
            padding-bottom: 60px;   
        }
        h3 {
            letter-spacing: 0.2em;
            font-family: 'Montserrat', sans-serif;
            padding-top: 1em;
            text-align: center;
        }
    </style> -->
    <style>
    body {
        background-color: black}
    .header {
        padding: 60px;
        text-align: center;
        background: black;
        color: red;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: .7em;
            }
    .instrukcja{
        text-align: justify;
        color: white;
        padding: 50px 200px;
    }
    .start_button{
        color: red;
        text-align: center;
    }
    .game_container{
        text-align: justify;
        color: white;
        padding: 50px 200px;
        box-shadow: 0 0 0.5em 5em rgba(0,0,0,0.4);
        background-color: rgba(0,0,0,0.4);
        }
    .answer{
        text-align: right;
    }
        </style>
</head>
<body>
    <!--<audio autoplay>
        <source src="{{url_for('static', filename='Rain_Heavy_Loud.mp3')}}" type="audio/ogg" type="audio/mpeg">
           </audio>
        -->
    <div class="header">
        <h1>FLINT</h1>
    </div>
    <div class='game_container'>
        
        
        
        
        
    {{narracja}}
    

    <table>
        <tr>
	        <td><img src="{{url_for('static', filename='sorrr.png')}}" alt="Murd" class="image" style="height:400px"></td>
            <td>
                                   <h2> {{odpowiedz}}</h2>
                </td>
        </tr>        
    </table>    
        
        
        <div class="answer">
        <div>rage: {{a}}, calm: {{k}}</div>
        <form action='/gra' method="POST">
            <label> Twoja odpowiedź:<input type="text" name="odpowiedz"></label>
            <input type="submit" value="Dawaj!" style='font-family:Montserrat, sans-serif'>
        </form>  
        </div>
    </div>
    

    
    <!-- link do dymka <img src="{{url_for('static', filename='dymekA2.png')}}" alt="Murd" class="image" style="height:20%">-->
    
   
    

</body>
</html>
