<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>flint</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet" type='text/css'>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
    </head>
<body> 
    
    <div class="header">
        <h1>FLINT</h1>
        <h6><span>czyli gra dla wytrwałych śmieszków</span></h6>
    </div>
    <div class="container">
        
        <div class="option"><a href='/instrukcja'>start</a></div>
        <!--<li><a href='/' class="active">home</a></li>-->
        <div class="option"><a href='/o_nas'>o nas</a></div>
        <!--<li><a href="/gra">gra</a></li>-->
        
   

</body>
</html>