<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>instrukcja gry</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
    
        
    </head>
<body> 
>
    <div class="header">
        <h1 style="margin-right: 30px">INSTRUKCJA</h1>
    </div>

    <!--<div class='instrukcja'>
                  Późnym wieczorem przechodzisz przez dzielnicę o wątpliwej reputacji. Nagle silne szarpnięcie wciąga Cię do zaułka. Mury kamienic szczelnie tłumią dźwięki ulicy. Tylko deszcz obija się o klapy śmietników.
                Nie jesteś w stanie dokładnie rozpoznać napastnika. Morderca? Złodziej? Handlarz? Niezbyt istotne.</br>
                Twoim celem jest prowadzenie rozmowy w sposób, który zaciekawi lub uspokoi napastnika. 
                W jaki sposób? Nie wiadomo. Słuchaj uważnie i bądź czujny. Mów po polsku. Nie możesz zakładać, że napastnik oszczędzi obcokrajowca.</br>
                Komunikacja odbywa się podczas wpisywania tekstu w pole tekstowe. Aby zatwierdzić swoją odpowiedź, kliknij przycisk "Dawaj!".
                Kiedy wskaźnik Rage lub Calm przekroczy wartość 10 Twój los jest już przesądzony.
                Dajemy Ci jednak szansę, by wypowiedzieć swoje ostatnie słowa w zaułku.</br> 
                Powodzenia! -->

    <div class='instrukcja'>

    <p id="demo"></p>

    <script>
    var i = 0;
    var txt = 'Późnym wieczorem przechodzisz przez dzielnicę o wątpliwej reputacji. Nagle silne szarpnięcie wciąga Cię do zaułka. Mury kamienic szczelnie tłumią dźwięki ulicy. Tylko deszcz obija się o klapy śmietników. \
    Nie jesteś w stanie dokładnie rozpoznać napastnika. Morderca? Złodziej? Handlarz? Niezbyt istotne. \
    Twoim celem jest prowadzenie rozmowy w sposób, który zaciekawi lub uspokoi napastnika. \
    W jaki sposób? Nie wiadomo. Słuchaj uważnie i bądź czujny. Mów po polsku. Nie możesz zakładać, że napastnik oszczędzi obcokrajowca. \
    Komunikacja odbywa się podczas wpisywania tekstu w pole tekstowe. Aby zatwierdzić swoją odpowiedź, kliknij przycisk "Dawaj!". \
    Kiedy wskaźnik Rage lub Calm przekroczy wartość 10 Twój los jest już przesądzony. \
    Dajemy Ci jednak szansę, by wypowiedzieć swoje ostatnie słowa w zaułku. \ 
    Powodzenia!';

    var speed = 50;
                
    function typeWriter() {
      if (i < txt.length) {
       document.getElementById("demo").innerHTML += txt.charAt(i);
       i++;
       setTimeout(typeWriter, speed);
      }
    }
    </script>
    
    <script>typeWriter()</script>

    </div> 

    <div class="start_button">
      <a href='/gra'>rozpocznij grę</a>
    </div>
</body>
</html>