<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>ajaj!</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet" type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 

</head>
<body>

    <div class="header">
       <h1>GAME OVER</h1>
    </div>
    <div class="container">
        
    <h2>Zimne, cienkie ostrze z łatwością wślizguje się w klatkę piersiową.<br>Zimno. Bardzo zimno.</h2>
    
       
        <div class="option"><a href='/' class="active">powrót</a></div>
   

<!--
    <div class='header'>
       
    </div>   
    <h2>Zimne, cienkie ostrze z łatwością wślizguje się w klatkę piersiową.<br>Zimno. Bardzo zimno.</h2>
    <div class='container'>
        <a href="/" class='button'>home</a>
        <a href='/gra' class='button'>gra</a>
    </div>
    <div class='footer'>
        <h3>© Kasia Cugier & Bogna Jaszczak & Andrzej Puć 2019</h3>
    </div>
        -->
</body>
</html>