<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>nieźle!</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet" type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   
</head>
<body>
    <div class='header'>
        <h1>THE END</h1>
    </div>   
    <h2>Zdziwiony patrzysz jak morderca odchodzi.<br>
        Oglądasz się jeszcze raz.<br>
        Dopiero teraz, w świetle latarni dostrzegasz długą brodę i parę kartek wystających zza marynarki.<br>
        Przystanął. 'Trywialne!'</h2>
    <div class='container'>
        <a href="/" class='button'>home</a>
        <a href='/gra' class='button'>gra</a>
    </div>
    <div class='footer'>
        <h3>© Kasia Cugier & Bogna Jaszczak & Andrzej Puć 2019</h3>
    </div>
</body>
</html>