<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>autorzy</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    


    </head>
<body> 

    
    <div class="header">
       <h1>AUTORZY</h1>
    </div>
    <div class="container">
        
    <h2>o nas...</h2>
    
       
        <div class="option"><a href='/' class="active">powrót</a></div>
   


<!--    <ul>
        <li><a href='/'>home</a></li>
        <li><a href='/o_nas'>o nas</a></li>
        <li><a href="/gra">gra</a></li>
        <li><a href="/instrukcja">instrukcja</a></li>
    </ul>      
    <div class="header">
        <h1 style="margin-left: 10px">AUTORZY</h1>
        <h6><span>jedyni, niepowtarzalni</span></h6>
    </div>
    <h2>Studia, projekt i nienawiść do upału na korytarzach <a href="http://szklarniapwr.pl/" style='color: #4C714B'>szklarni C-13</a>. To ich łączy.</h2>
    <div class="row">
      <div class="column">
        <a href="/kasia">
        <div class="container">
          <div class="middle">
            <div class="text">Kasia Cugier</div>
          </div>
        </div>
        </a>
      </div>
      <div class="column">
        <a href="/bodzia">
        <div class="container">
          <img src="static/bodzia.gif" alt="Bodzia" class="image" style="width:175%">
          <div class="middle">
            <div class="text">Bogna Jaszczak</div>
          </div>
        </div>
        </a>
      </div>
      <div class="column">
        <a href="/andrzej">
        <div class="container">
          <img src="static/andrzej.jpg" alt="Ryszard" class="image" style="width:175%">
          <div class="middle">
            <div class="text">Andrzej Puć</div>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class='footer'>
        <h3>© Kasia Cugier & Bogna Jaszczak & Andrzej Puć 2019</h3>
    </div>
-->

</body>
</html>
